.database-table-container {
  width: 50%; 
  margin: 0 ; 
}

.database-table {
  width: 100%; 
  border: 1px solid black;
  border-collapse: collapse;
}

.database-table th,
.database-table td {
  border: 1px solid black;
  padding: 8px;
}
